.content{
    background: #ffffff;
}

.ftc-panel{
    background: white;
    padding: 30px 30px 30px 30px;
}

.ftc-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ftc-image {
    width: 290px;
    height: 150px;
    background: white;
    margin-bottom: 10px;
}

.ftc-button-center{
    padding: 10px 0px 10px 10px;
    margin: 0px 0px 0px 5px;
}

.ftc-primary-color {
    color: #cf1717 !important;
}

.ftc-info-color{
    color: #cf1717 !important;
}

.ftc-error-color{
    color: red !important;
}

.ftc-divider{
    height: 2px;
    overflow: hidden;
    background-color: #cf1717;
}

.ftc-divider-item{
    height: 1px;
    overflow: hidden;
    background-color: grey;
}

.ftc-expand-button-input {
    margin-bottom: 40px !important;
}

.ftc-checkbox .checkbox {
    margin-right: 5px !important;
}

.ftc-checkbox .checkbox-icon {
    border-color: #cf1717 !important;
}

.ftc-checkbox .item-inner {
    color: #cf1717;
    font-weight: bold;
    border-bottom: 0px !important;
}

/** Toogle Menu **/
.ftc-header-degrade{
    background: linear-gradient(90deg, #cf1717 0%, #fac8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    font-size: 20px;
}

.ftc-menu-item {
    color: #cf1717;
    font-weight: bold;
}

.ftc-menu-item div{
    border: 0px !important;
}

.ftc-circle-pic{
    background: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/***************************************************/
