<ion-header>
  <ion-navbar>
    <ion-title class="ftc-stylized-font ftc-header-title">Ver receita</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="{{ photo }}"/>
  <div class="ftc-recipe-content">
    <div class="ftc-primary-color ftc-recipe-content-title ftc-stylized-font"><b>{{ name }}</b></div>
    <div class="ftc-divider"></div>
    <div class="ftc-recipe-content-categories">
      <button ion-button round small *ngFor="let category of UTILS.buildListCategories(categories)">{{ category }}</button>
    </div>
    <ion-grid class="ftc-recipe-content-bold-text ftc-stylized-font">
      <ion-row>
        <ion-col style="text-align: start;"><b>Ingredientes</b></ion-col>
        <ion-col style="text-align: end;"><b>{{ portions }}</b></ion-col>
      </ion-row>
    </ion-grid>
    <p *ngFor="let item of ingredients" class="ftc-recipe-content-normal-text">{{ item }}</p>
    <div class="ftc-divider-item"></div>
    <ion-grid class="ftc-recipe-content-bold-text ftc-stylized-font">
      <ion-row>
        <ion-col style="text-align: start;"><b>Instruções</b></ion-col>
        <ion-col style="text-align: end;"><b>{{ recipeDuration }}</b></ion-col>
      </ion-row>
    </ion-grid>
    <div [innerHTML]="recipeInstructions" class="ftc-recipe-content-normal-text"></div>
    <div class="ftc-divider-item"></div>
    <div style="text-align: center;">
      <ng-template [ngIf]="!UTILS.isEmpty(favoriteRecipeId)" [ngIfElse]="notFavorite">
        <button ion-button icon-start clear small (click)="deleteFromFavorites()">
          <ion-icon name="heart"></ion-icon>
          <div>Remover favoritos</div>
        </button>
      </ng-template>
      <ng-template #notFavorite>
        <button ion-button icon-start clear small (click)="addToFavorites()">
          <ion-icon name="heart-outline"></ion-icon>
          <div>Adicionar favoritos</div>
        </button>
      </ng-template>
    </div>
  </div>
</ion-content>

