<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ftc-stylized-font ftc-header-title">Receitas favoritas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="isListEmpty">
    <ion-card-content>
      <p class="primary-color bold" style="text-align: center;">Você não tem receitas marcadas como favoritas.</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let item of recipes" class="ftc-card-image" (click)="goToRecipe(item)">
    <img-loader src="{{ item.photo }}"></img-loader>
    <ion-card-title class="ftc-card-title ftc-stylized-font">
      <b class="ftc-primary-color">{{ item.name }}</b>
      <div class="ftc-divider"></div>
    </ion-card-title>

    <ion-card-content class="ftc-card-content">
      <p>{{ item.description }}</p>
    </ion-card-content> 
  </ion-card>
</ion-content>
